.class-header{
  padding-top: em(95);
  padding-left: em(150);
  padding-right: em(150);
  height: em(200);
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  .header_text{
    margin-top: 7px;
    width: 50%;
    display: inline-block;
    vertical-align: top;
    p{
      font-size: em(17);
      width: em(490,14);
      text-align: left;
      font-family: Trebuchet-r;
      color: black;
    }
  }
  .header_logo{
    width: 49%;
    display: inline-block;
    text-align: right;
    vertical-align: top;
    img{
      cursor: pointer;
      width: em(120);
    }
  }
}